<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="" class="mt-5" [formGroup]="form" (ngSubmit)="authendicate()">
                <div class="mb-3">
                    <input class="form-control" type="text" name="" id="" placeholder="Enter your name" formControlName="username">
                    <div class="text-danger" *ngIf="username?.touched && username?.invalid">invalid username</div>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="" id="" placeholder="Enter your password" formControlName="password">
                    <div class="text-danger" *ngIf="password?.touched && password?.invalid">invaid password</div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary form-control" type="submit" [disabled]="form.invalid">Login</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>